<div ng-include="'views/partials/header.html'"></div>
<div class="container">
  <div class="content">
    <div id="titleMini" class="fontOne" style="margin-bottom: 10px;">
      Make the most amount of cash in 2 minutes. Prices change often - buy low, sell high!
    </div>
    <div class="fontOne error" role="alert" ng-if="lc.message != ''">
      {{lc.message}}
    </div>
    <form ng-submit="lc.login()">
      <div>
        <!-- <label for="username">Username:</label> -->
        <input class="textInput" type="text" ng-model="lc.user.username" placeholder="Username"/>
      </div>
      <div>
        <!-- <label for="password">Password:</label> -->
        <input class="textInput" type="password" ng-model="lc.user.password" placeholder="Password" />
      </div>
      <div>
        <input class="userBtn colorOne" type="submit" name="submit" value="Log In" />
      </div>
      <div class="fontOne container">
        Don't have an account?
        <a href="#register">Register</a> to post your high scores!
      </div>
    </form>
  </div>
</div>