<div ng-include="'views/partials/nav.html'" ng-init="mc.getMarketItems()"></div>
<div class="container center">
  <div class="content">
    <div id="statsBlock">
      <div id="timerBlock">
        <div ng-show="mc.gameOn" class="timerTxt fontOne">
          <timer interval="1000" countdown="120">{{countdown}}</timer>
        </div>
        <div ng-hide="mc.gameOn" class="timerTxt fontOne">
          Time's up!
        </div>
      </div>
      <div id="walletBlock">
        {{mc.userObject.money | currency : $}}
      </div>
      <div id="highScoreBlock" ng-class="{highScoreBlockAnimation: mc.highScore}">
        <div id="highScoreText">
          High score
        </div>
        <div id="highScoreData">
          {{ mc.scoreObject.data[0].name }} - {{ mc.scoreObject.data[0].score | currency: $ }}
        </div>
      </div>
    </div>
    <div id="itemsContainer">
      <div class="item-block" ng-repeat='item in mc.marketItems.data'>
        <!-- <p>{{item.name}}</p> -->
        <div class="item-cost-block">
          <div class="item-cost">{{item.cost | currency : $}}</div>
        </div>
        <div class="itemPicBlock">
          <img class="itemPic" ng-src="images/{{ item.name }}.png" />
        </div>
        <div class="tradeBtnBlock">
          <span class="tradeBtnContent">
            <button class="tradeBtn" ng-click="mc.buyFruit(item.cost, item.id)">Buy</button>
            <button class="tradeBtn" ng-click="mc.sellFruit(item.cost, item.id)">Sell</button>
          </span>
        </div>
        <div class="quantityBlock">
          <div class="quantity">
            {{ mc.quantity[item.id] }}
          </div>
        </div>
        <div class="averageBlock">
          <div class="average">
            Average Price: {{ mc.average[item.id] | currency }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Score testing buttons: -->
<!-- {{mc.userObject.userName}}:  -->
<!-- <button ng-click="mc.postScore(mc.userObject.money)">Post score</button> -->
<!-- <button ng-click="mc.showScore()">Display score</button> -->

<!-- Timer test buttons: -->
<!-- <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button> -->
<!-- <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button> -->