<div ng-include="'views/partials/nav.html'" ng-init="mc.getMarketItems()"></div>
<div class="container">
  <div class="content">
    <h3 id="welcome" class="lead">Welcome, {{mc.userObject.userName}}! You have {{mc.userObject.money | currency : $}} to spend.</h3>
    <p>
      High score: {{ mc.scoreObject.data[0].name }}, {{ mc.scoreObject.data[0].score | currency: $ }}
    </p>
    <!-- <button ng-click="mc.postScore(mc.userObject.money)">Post score</button>
    <button ng-click="mc.showScore()">Display score</button> -->
    <div class="item-block" ng-repeat='item in mc.marketItems.data'>
      <!-- <p>{{item.name}}</p> -->
      <p>{{item.cost | currency : $}}</p>
      <p>
        <img ng-src="images/{{ item.name }}.png" height="100px" />
      </p>
      <button ng-click="mc.buyFruit(item.cost, item.id)">Buy</button>
      <button ng-click="mc.sellFruit(item.cost, item.id)">Sell</button>
      <p>
        Quantity: {{ mc.quantity[item.id] }}
      </p>
      <p>
        Average: {{ mc.average[item.id] | currency }}
      </p>
    </div>
  </div>
</div>