<div id="title">
    Market Mania
  </div>
<div class="container">
  <div class="content">
    <div id="titleMini" class="fontOne" style="margin-bottom: 10px;">
      Enter a new username and password.
    </div>
    <div class="fontOne error" role="alert" ng-if="lc.message != ''">
      {{lc.message}}
    </div>
    <form ng-submit="lc.registerUser()">
      <div>
        <input class="textInput" type="text" ng-model="lc.user.username" placeholder="Username" />
      </div>
      <div>
        <input class="textInput" type="password" ng-model="lc.user.password" placeholder="Password" />
      </div>
      <input class="userBtn colorOne" type="submit" name="submit" value="Register" />
      <a href="#home"><button class="userBtn colorOne">Back</button></a>
    </form>
  </div>
</div>