/* Current color theme:
 * https://color.adobe.com/clariandi-color-theme-9819316/
 */

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #FB8E89;
}

/* .instructions .container h1 {
    font-size: 32px;
    font-weight: 600;
} */

/* .instructions {
    background-color: #564B3D;
    color: #DDDDDD;
    padding: 15px;
} */

#entryForm {
    margin-top: 14px;
}

.content {
  padding: 15px;
  text-align: center;
}

.container {
    padding: 10px;
}

.container p {
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}

.navbar {
  width: 100%;
  background-color: #26f999;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #564B3D;
    font-size: 12pt;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #564B3D;
}

/* GENERAL */


.fontOne {
    font-family: 'Fredoka One', cursive;
}

.colorOne {
    color: green;
    background-color: #26f999;
}

a {
    text-decoration: none;
    color: green;
}

/* NAVBAR */


#title{
    font-family: 'Fredoka One', cursive;
    font-size: 45pt;
    color: green;
    text-align: center;
    background-color: #26f999;
    height: 200px;
    line-height: 180px;
}

#titleMini {
    font-family: 'Fredoka One', cursive;
    font-size: 20pt;
    color: green;
    text-decoration: none;
}

.navBarItem {
    display: inline;
}


/* GAME PAGE */


#statsBlock {
    width: 800px;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;
    margin-bottom: 10px;
}

.timerTxt {
    color: red;
    font-size: 30pt;
    margin-right: 22px;
}

#timerBlock {
    float: left;
    width: 300px;
}

#walletBlock {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Fredoka One', cursive;
    font-size: 30pt;
    /* display: block;
    margin: auto;
    text-align: center; */
    /* margin-left: 60px; */
    /* margin-bottom: 10px; */
    width: 200px;
    margin-right: 30px;
}

#highScoreBlock {
    font-family: 'Orbitron', sans-serif;
    font-size: 12pt;
    width: 300px;
    margin-right: 26px;
}

#highScoreText {
    margin: 5px;
}

#highScoreData {
    margin: 5px;
    /* float: right; */
}


/* market items: */


#itemsContainer {
    width: 800px;
}

.item-block {
    float: left;
    margin: 20px;
    width: 200px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.377);
    transition: all 0.2s ease 0s;
}

.item-block:hover {
    background-color: blue;
    transition: all 0.2s ease 0s;
}

.item-cost-block {
    display: table;
    height: 40px;
    margin: auto;
    width: 120px;
}

.item-cost {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: yellow;
    font-size: 20pt;
    text-align: center;
    font-weight: lighter;
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
}

.itemPicBlock {
    margin: auto;
    margin: 20px 0px 20px 0px;
}

.itemPic {
    height: 100px;
    display: block;
    margin: auto;
}

.tradeBtnBlock {
    display: flex;
    justify-content: center;
    /* display: block;
    margin: auto; */
}

/* .tradeBtnContent {

} */

.tradeBtn {
    width: 90px;
    height: 30px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    background-color: rgb(194, 218, 88);
    /* transition: all 0.2s ease 0s; */
}

.tradeBtn:hover {
    color: white;
    background-color: rgb(79, 88, 37);
    /* transition: all 0.2s ease 0s; */
}

/* eliminate blue border around buttons */
.tradeBtn:focus {
    outline: 0
}

.quantityBlock {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.averageBlock {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}


/* LOGIN PAGE */


.textInput {
    border-radius: 10px;
    width: 210px;
    height: 30px;
    font-size: 16pt;
    margin: 5px;
    padding: 5px;
}

.userBtn {
    font-family: 'Fredoka One', cursive;
    width: 106px;
    height: 38px;
    font-size: 20px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}

.userBtn:hover {
    color: white;
    background-color: rgb(79, 88, 37);
    transition: all 0.2s ease 0s;
}

.error {
    color: red;
}